MAIN_BOT_TOKEN=

MYSQL_ROOT_PASSWORD=

MYSQL_HOST=
MYSQL_PORT=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_DATABASE=

APP_HOST=
APP_PORT=

PANEL_HOST=
PANEL_PATH=
PANEL_LOGIN=
PANEL_PASSWORD=
INBOUND_PROTOCOL=
CLIENT_FLOW=

HASHIDS_SALT=

ADMIN_ID=
GROUP_ID=