:root {
    --def-text-color: #b5c0ca;
    --side-text-color: #708297;
    --header-text-color: #6277ac;
    --link-text-color: #407eb4;
    --container-max-width: 800px;
    --container-width: 92%;
    --scroll-margin: max(4vw, calc((100vw - 800px) / 2));
    --container-large-margin: 20px;
    --container-middle-margin: 15px;
    --container-mini-magin: 10px;
    --def-font-size: 18px;
    --block-background-color: linear-gradient(45deg, #192135, #1b243a);
}
html {
    scroll-padding-top: var(--container-middle-margin);
    scroll-behavior: smooth;
}
* {
    -webkit-tap-highlight-color: transparent;
}
body {
    background: #0a1222;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Commissioner", sans-serif;
    word-spacing: 2px;
    color: var(--def-text-color);
    user-select: none;
    -webkit-user-select: none;
    cursor: default;
    margin: 0;
    font-size: var(--def-font-size);
    padding-bottom: 30px;
    color: var(--def-text-color);

    > * {
        margin-top: var(--container-large-margin);
    }
}
.container {
    width: var(--container-width) !important;
    max-width: var(--container-max-width) !important;
}
.block {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 23px;
    border-radius: 10px;
    background: var(--block-background-color);
    color: var(--def-text-color);
    width: 100%;
    gap: 5px;

    .top, .bottom {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .title {
        font-size: 22px;
        font-weight: 700;
        color: var(--header-text-color);
    }
    .total {
        font-size: 22px;
        font-weight: 600;
        color: var(--def-text-color);
    }
    .status {
        font-size: 15px;
    }
    .date {
        font-size: 15px;
        color: var(--side-text-color);
    }
}

#payments {
    display: flex;
    flex-direction: column;
    gap: 10px;
}