:root {
    --def-text-color: #b5c0ca;
    --side-text-color: #708297;
    --header-text-color: #6277ac;
    --link-text-color: #407eb4;
    --container-max-width: 800px;
    --container-width: 92%;
    --scroll-margin: max(4vw, calc((100vw - 800px) / 2));
    --container-large-margin: 20px;
    --container-middle-margin: 15px;
    --container-mini-magin: 10px;
    --def-font-size: 18px;
    --block-background-color: linear-gradient(45deg, #192135, #1b243a);
}
html {
    scroll-padding-top: var(--container-middle-margin);
    scroll-behavior: smooth;
}
* {
    -webkit-tap-highlight-color: transparent;
}
body {
    background: #0a1222;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Commissioner", sans-serif;
    word-spacing: 2px;
    color: var(--def-text-color);
    user-select: none;
    -webkit-user-select: none;
    cursor: default;
    margin: 0;
    font-size: var(--def-font-size);
    padding-bottom: 30px;
    color: var(--def-text-color);

    > * {
        margin-top: var(--container-large-margin);
    }
}
.container {
    width: var(--container-width) !important;
    max-width: var(--container-max-width) !important;
}
.block {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 23px;
    border-radius: 10px;
    background: var(--block-background-color);
    color: var(--def-text-color);
    width: 100%;
}

#title {
    font-size: 22px;
    font-weight: 600;
    margin-left: 2px;
}
#payments {
    display: flex;
    flex-direction: column;
    gap: var(--container-middle-margin);

    .block {
        gap: var(--container-mini-magin);

        .top, .bottom {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }

        .title {
            font-size: 22px;
            font-weight: 700;
            color: var(--header-text-color);
        }
        .total {
            font-size: 22px;
            font-weight: 600;
            color: var(--def-text-color);
        }
        .status {
            font-size: 15px;
        }
        .date {
            font-size: 15px;
            color: var(--side-text-color);
        }
    }
}

#popup-bg {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000042;
    justify-content: center;
    margin: 0;

    #popup {
        display: flex;
        flex-direction: column;
        position: fixed;
        bottom: 0;
        width: 100%;
        max-width: 600px;
        box-sizing: border-box;
        padding: 40px;
        background: var(--block-background-color);
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        transform: translateY(100%);
        transition: 0.2s ease-in-out;

        #popup-content {
            display: none;
            flex-direction: column;
            width: 100%;

            .uname {
                display: none;
            }
            .title {
                font-size: 28px;
                font-weight: 700;
                margin-bottom: 10px;
                color: var(--header-text-color);
                box-sizing: border-box;
                padding-left: 2px;
            }
            .text {
                font-size: 18px;
                margin-bottom: 25px;
                color: var(--def-text-color);
                box-sizing: border-box;
                padding-left: 2px;
            }
            .radiogroup {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 9px;
                margin-bottom: 20px;

                input[type="radio"] {
                    position: absolute;
                    opacity: 0;
                    width: 0;
                    height: 0;
                    margin: 0;
                    padding: 0;
                    pointer-events: none;
                }

                label {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    position: relative;
                    padding-left: 50px;
                    height: 45px;
                    border-radius: 7px;
                    background: #313d55;
                    cursor: pointer;
                    box-sizing: border-box;
                }

                label::before {
                    content: '';
                    position: absolute;
                    left: 15px;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 20px;
                    height: 20px;
                    border: 2px solid #4f5f77;
                    border-radius: 50%;
                    background-color: transparent;
                    box-sizing: border-box;
                    transition: 0.1s;
                }

                label:has(input[type="radio"]:checked)::before {
                    background-color: #009185;
                    border-color: #009185;
                    box-shadow: inset 0 0 0 4px #35425c;
                }

                .months {
                    font-size: 18px;
                }
                .discount {
                    margin-left: 10px;
                    color: #f41d7e;
                    font-size: 15px;
                }
            }
            .button {
                width: 100%;
                height: 45px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #c3cfdb;
                background: #007b70;
                border-radius: 7px;
            }
            .offer {
                font-size: 15px;
                margin-top: 10px;
                box-sizing: border-box;
                padding-left: 2px;
                a {
                    text-decoration: underline;
                }
            }
        }

        #popup-error {
            display: none;
        }
    }
    #popup.opened {
        transform: translateY(0%) !important;
    }
}