body {
    background: #0A1121;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(239, 239, 239);
    user-select: none;
    -webkit-user-select: none;
    cursor: default;
}
.container {
    width: 90%;
    max-width: 800px;

    .block {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding: 25px;
        margin: 15px 0;
        border-radius: 10px;
        background: linear-gradient(45deg, #161E31, #212B41);
        color: #dddddd;
    }

    .errblock {
        background: linear-gradient(45deg, #ff6b6b6f, #e29f9f51) !important;
    }

    #sub {
        .status {
            font-size: 17px;
        }
        .name {
            font-size: 32px;
            font-weight: 900;
            letter-spacing: 1px;
            margin: 4px 0 15px 0;
            color: white;
        }
        .devices, .date {
            font-size: 17px;
            margin: 2px 0;
        }

        .conf {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 17px;
            height: 40px;
            padding: 0 15px;
            box-sizing: border-box;
            border: #dddddd 1px solid;
            border-radius: 5px;
            cursor: pointer;
        }
    }
}

red {
    color: rgb(225, 67, 67);
}
green {
    color: rgb(74, 225, 74);
}