:root {
    --def-text-color: #cdcdcd;
    --container-max-width: 800px;
    --container-width: 92%;
    --scroll-margin: max(4vw, calc((100vw - 800px) / 2));
    --container-margin-top: 20px;
}
html {
    scroll-padding-top: var(--container-margin-top);
}
body {
    background: #0A1121;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--def-text-color);
    user-select: none;
    -webkit-user-select: none;
    cursor: default;
    margin: 0;
    font-size: 18px;
    scroll-behavior: smooth;

    > * {
        margin-top: var(--container-margin-top);
    }
}
.container {
    width: var(--container-width) !important;
    max-width: var(--container-max-width) !important;
    margin-top: 10px;
}

.block {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 25px;
    border-radius: 10px;
    background: linear-gradient(45deg, #161E31, #242f47);
    color: var(--def-text-color);
    width: 100%;
}
.error-block {
    background: linear-gradient(45deg, #ff6b6b6f, #e29f9f51) !important;
}


#sub {
    display: none;
    gap: var(--scroll-margin);

    #sub-info {
        justify-content: space-between;
        .top {
            display: flex;
            flex-direction: column;

            .status {
                font-size: 17px;
            }
            .name {
                font-size: 32px;
                font-weight: 900;
                letter-spacing: 1px;
                margin: 4px 0 15px 0;
                color: #ebebeb;
            }
            .devices, .date {
                font-size: 17px;
                margin: 2px 0;
            }
        }
        .bottom {
            display: flex;
            flex-direction: row;
            justify-content: end;
            gap: 8px;
            margin-top: 30px;

            .settings, .history {
                display: flex;
                height: 40px;
                background: #35425c;
                padding: 7px;
                box-sizing: border-box;
                border-radius: 5px;
                cursor: pointer;

                > img {
                    height: 100%;
                    aspect-ratio: 1/1;
                    opacity: 0.7;
                }
            }
        }
    }
    #sub-settings {
        justify-content: space-between;

        .bottom {
            display: flex;
            flex-direction: row;
            justify-content: start;
            gap: 8px;
            margin-top: 30px;
        }
    }
    #sub-periods {
        justify-content: space-between;

        .bottom {
            display: flex;
            flex-direction: row;
            justify-content: start;
            gap: 8px;
            margin-top: 30px;
        }
    }
}
#sub-error {
    display: none;
    font-size: 17px;
}
#help {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;

    #help-about, #help-tutorial, #help-support {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;
        padding: 12px;

        > img {
            width: 28px;
            aspect-ratio: 1/1;
            margin-right: 10px;
            opacity: 0.2;
        }
    }
}
#tariffs {
    display: none;
    gap: 15px;

    .block {
        width: 250px;
        justify-content: space-between;
        .top {
            display: flex;
            flex-direction: column;
            
            .country {
                font-size: 15px;
            }
            .name {
                font-size: 26px;
                font-weight: 800;
                margin: 4px 0 15px 0;
            }
            .devices, .traffic {
                font-size: 17px;
                margin: 2px 0;
            }
            .price {
                font-size: 24px;
                font-weight: 700;
                margin-top: 30px;
                letter-spacing: 1px;

                .note {
                    font-size: 17px;
                    font-weight: normal;
                }
            }
        }
        .bottom {
            margin-top: 20px;
            display: flex;
            flex-direction: column;
        }
    }

    @media screen and (min-width: 800px) {
        width: var(--container-width);
        max-width: var(--container-max-width);

        .block {
            flex-grow: 1;
            margin: 0;
        }
    }
}
#tariffs-error {
    display: none;
    font-size: 17px;
}

.sqare-btn {
    display: flex;
    height: 40px;
    background: #35425c;
    padding: 7px;
    box-sizing: border-box;
    border-radius: 5px;
    cursor: pointer;

    > img {
        height: 100%;
        aspect-ratio: 1/1;
        opacity: 0.6;
    }
}
.rect-btn {
    display: flex;
    height: 40px;
    background: #35425c;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
}

.scroll-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    -ms-overflow-style: none;

    .block {
        scroll-snap-align: center;
        flex-shrink: 0;
        width: var(--container-width);
        max-width: var(--container-max-width);
    }
    .block:first-of-type {
        margin-left: var(--scroll-margin);
    }
    .block:last-of-type {
        margin-right: var(--scroll-margin);
    }
}
.scroll-container::-webkit-scrollbar {
    display: none;
}

red { color: rgb(225, 67, 67); }
green { color: rgb(74, 225, 74); }
def { color: var(--def-text-color); }